<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome To DashboardPage</h1>
    <h2>Username :- <%= locals.user.name %>
    </h2>
    <h2>Useremail :- <%= locals.user.email %>
    </h2>
    <h2>Userpassword :- <%= locals.user.password %>
    </h2>

    <a href="/logoutuser">Logout</a>
</body>

</html>